body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem !important;
  font-weight: bold !important;
  text-transform: Capitalize;
}
